@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shizuru&display=swap');

body {

background-color: #080708;
font-family: 'Poppins', sans-serif;

}

/* .formulario {

justify-content: center;
text-align: center;
margin: 17px 0px 0px 40px;
padding-bottom: 50px;
padding-top: 30px;
background-color: blue;


} */

.formulario {

    text-align: center;

}

h3 {

    font-weight: bolder;
    color: #FFD882;
    padding-bottom: 18px;
    padding-top: 13%;

}

input {

    width: 20%;
    height: 20px;
    border-radius: 10px;

}

button {

width: 20%;
height: 20px;
border-radius: 10px;

}
